<!DOCTYPE html>
<html lang="en">
<style>
  .estilo {
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
  }

  .estilo1 {
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
  }

  .navpos {
    margin-left: 90%;
  }

  .container {
    width: 500px;
    margin: 20px auto;
  }

  .preview {
    position: relative;
  }

  .navpos {
    margin-left: 90%;
  }

  .preview i {
    color: white;
    font-size: 35px;
    transform: translate(50px, 130px);
  }

  .preview-img {
    border-radius: 100%;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.7);
  }

  .browse-button {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    /* Tweak the position property if the element seems to be unfit */
    top: 0.0000000000001px;
    left: 45.5%;
    background: linear-gradient(180deg, transparent, black);
    opacity: 0;
    transition: 0.3s ease;
  }

  .browse-button:hover {
    opacity: 1;
  }

  .browse-input {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transform: translate(-1px, -26px);
    opacity: 0;
  }

  .form-group {
    width: 250px;
    margin: 10px auto;
  }

  .form-group input {
    transition: 0.3s linear;
  }

  .form-group input:focus {
    border: 1px solid crimson;
    box-shadow: 0 0 0 0;
  }

  .Error {
    color: crimson;
    font-size: 13px;
  }
</style>

<%include partials/_header %> 

<tbody>
  <% for(var i=0; i < perfiles.length; i++) { %>
  <tr>
    <div class="container">

      <p class="h2 text-center">Mi Perfil</p>

    
      <div class="form-group">
        <label for="nombre">Nombre de usuario</label>
        <input value=<%= perfiles[i].nombre %> type="user" readonly="readonly" class="form-control" name="nombre">
      </div>

      <div class="form-group">
        <label for="carrera">Carrera</label>

        <input value="<%= perfiles[i].carrera %>" type="user" readonly="readonly" class="form-control" id="carrera"
          name="carrera">

      </div>

      <div class="form-group">
        <label for="cursandoActualmente">Cursando actualmente</label>
        <input value="<%= perfiles[i].cursandoActualmente %>" readonly="readonly" id="cursandoActualmente"
          class="form-control" name="cursandoActualmente">



      </div>

      <div class="form-group">
        <label for="preparandoFinales">Preparando finales</label>
        <input value="<%=perfiles[i].preparandoFinales %>" type="user" readonly="readonly" id="preparandoFinales"
          class="form-control" name="preparandoFinales">

      </div>




      <div class="form-group">
        <a href="/delete/<%= perfiles[i]._id %>" class="btn btn-danger">
          Delete
        </a>
        <a href="/edit/<%= perfiles[i]._id %>" class="btn btn-info">
          Edit
        </a>
      </div>

  </tr>
  </div>
  <% } %>
  </form>
</tbody>