<!DOCTYPE html>
<html lang="en">
<style>
  .estilo {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 30px;


  }

  .estilo1 {
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;

  }

  .navpos {
    margin-left: 90%;
  }

  .container {
    width: 500px;
    margin: 20px auto;
  }

  .preview {

    position: relative;
  }

  .preview i {
    color: white;
    font-size: 35px;
    transform: translate(50px, 130px);
  }

  .preview-img {
    border-radius: 100%;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.7);
  }

  .browse-button {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    /* Tweak the position property if the element seems to be unfit */
    top: 0.0000000000001px;
    left: 45.5%;
    background: linear-gradient(180deg, transparent, black);
    opacity: 0;
    transition: 0.3s ease;
  }

  .browse-button:hover {
    opacity: 1;
  }

  .browse-input {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transform: translate(-1px, -26px);
    opacity: 0;
  }

  .form-group {
    width: 250px;
    margin: 10px auto;
  }

  .form-group input {
    transition: 0.3s linear;
  }

  .form-group input:focus {
    border: 1px solid crimson;
    box-shadow: 0 0 0 0;
  }

  .Error {
    color: crimson;
    font-size: 13px;
  }



  .form-register {

    width: 400px;

    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }

  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }

  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }

  .form-register a {
    color: white;
    text-decoration: none;
  }

  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }

  .form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

  .width {
    width: 20%;
    margin-left: 77%;
    margin-bottom: 2%;

  }
</style>

<%include partials/_header %> 


<div class="container">

  <p class="h2 text-center">Editar Grupo</p>
  <form action="/editarGrupo/<%= grupos._id %>" method="post"> 
    
      
    </div>
    <div class="form-group">
      <label for="nombreGrupo">Nombre del Grupo:</label>
      <input class="form-control" type="text" name="nombreGrupo" required value=<%= grupos.nombreGrupo%>/>
      
    </div>
    <div class="form-group">
      <label for="descripcionGrupo">Descripcion:</label>
      <input class="form-control" type="text" name="descripcionGrupo" required value="<%= grupos.descripcionGrupo%>"/>
    </div>

    <div class="form-group">
      <label for="cantParticipantes">Participantes:</label>
      <input class="form-control" type="text" name="cantParticipantes" required value="<%= grupos.cantParticipantes%>"/>
    </div>

    <div class="form-group">
      <label for="materiaQueAplica">Materias que aplica</label><br />
      <select multiple value="<%= grupos.materiaQueAplica %>" class="form-control" name="materiaQueAplica" id="materiaQueAplica">
       
      </select>
  
    </div>


    <div class="form-group">
      <input class="btn btn-primary btn-block" type="submit" value="Guardar Cambios" />
    </div>
  </form>
</div>



<script>
  miformulario = document.querySelector('#miFormulario');
window.addEventListener("load", function() {
        cargarMaterias(event);
    }, false);
 
//Funcion para cargarMaterias al campo "select".
function cargarMaterias() {
    //Inicializamos el array.
    var array = ["Ingles 1", "Matematica 2","Programación con Objetos 2","Redes de Computadoras", "Sistemas Operativos","Programación Funcional","Construcción de Intefaces de Usuarios"
,"Programación con Objetos 2"," Redes de Computadoras","Sistemas Operativos"  ,"Algoritmos" , "Análisis Matemático", "Laboratorio de Sistemas Operativos y Redes" ,   
        "Lógica y Programación" , "Elementos de Ingeniería de Software",
          "Seguridad de la Información","Materia UNAHUR 1" ,"Ingles 2","Matematica 3","Programación Concurrente","Ingenieria de Requerimientos",
         "Desarrollo de Aplicaciones","Probabilidad y Estadistica","Gestión de Proyectos de Desarrollo de Software","Lenguajes Formales y Autómatas", "Programación con Objetos 3","Materia UNAHUR 2",
        "Practica Profesional Supervisada(PPS)","Teoría de la Computación","Arquitectura de Software 1","Sistemas Distribuidos y Tiempo Real","Tesina de Licenciatura",
        "Materia Optativa 1","Caracteristicas de Lenguajes de Programación","Arquitectura de Software 2","Arquitectura de Computadoras","Parseo y generación de código",
        "Ejercicio Profesional","Tecnología y Sociedad"];
    //Ordena el array alfabeticamente.
    array.sort();
    //Pasamos a la funcion addOptions(el ID del select, las cargarMaterias en el array).
    addOptions("materiaQueAplica", array);
}
 
//Funcion para agregar opciones a un <select>.
function addOptions(domElement, array) {
    var selector = document.getElementsByName(domElement)[0];
    //Recorremos el array.
    for (materiaQueAplica in array) {
        var opcion = document.createElement("option");
        opcion.text = array[materiaQueAplica];
        selector.add(opcion);
    }
}
  
</script>