<!DOCTYPE html>
<html lang="en">
<style>
  .estilo {
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
  }

  .estilo1 {
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
  }

  .navpos {
    margin-left: 90%;
  }

  .container {
    width: 500px;
    margin: 20px auto;
  }

  .preview {
    position: relative;
  }

  .navpos {
    margin-left: 90%;
  }

  .preview i {
    color: white;
    font-size: 35px;
    transform: translate(50px, 130px);
  }

  .preview-img {
    border-radius: 100%;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.7);
  }

  .browse-button {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    /* Tweak the position property if the element seems to be unfit */
    top: 0.0000000000001px;
    left: 45.5%;
    background: linear-gradient(180deg, transparent, black);
    opacity: 0;
    transition: 0.3s ease;
  }

  .browse-button:hover {
    opacity: 1;
  }

  .browse-input {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transform: translate(-1px, -26px);
    opacity: 0;
  }

  .form-group {
    width: 250px;
    margin: 10px auto;
  }

  .form-group input {
    transition: 0.3s linear;
  }

  .form-group input:focus {
    border: 1px solid crimson;
    box-shadow: 0 0 0 0;
  }

  .Error {
    color: crimson;
    font-size: 13px;
  }
</style>

<%include partials/_header %> 



<div class="container">
  

  <p class="h2 text-center">Editar Perfil</p>
  <form action="/edit/<%= perfiles._id %>" method="post"> 

    <div class="form-group">
      <label for="nombre">Nombre de usuario</label>
      <input class="form-control" type="text" name="nombre" value="<%= perfiles.nombre %>">
    </div>

    <div class="form-group">
      <label for="carrera">Carrera</label>
      <select multiple value="<%= perfiles.carrera %>" name="carrera" required class="form-control" id="carrera">
        <option>Lic. En Informatica</option>
        <option>Tec. En Informatica </option>
      </select>
    </div>

    <div class="form-group">
      <label for="cursandoActualmente">Cursando actualmente</label>
      <select multiple value="<%= perfiles.cursandoActualmente %>" name="cursandoActualmente" required
        class="form-control" id="cursandoActualmente">
      
      </select>
    </div>

    <div class="form-group">
      <label for="preparandoFinales">Preparando finales</label>
      <select multiple value="<%= perfiles.preparandoFinales %>" name="preparandoFinales" required class="form-control"
        id="preparandoFinales">
       
      </select>
    </div>
    <div class="form-group">
      <button class="btn btn-primary h2 " type="submit">
        Actualizar Datos
      </button>
    </div>
  </form>
</div>






<script>
  miformulario = document.querySelector('#miFormulario');
window.addEventListener("load", function() {
        cargarMaterias(event);
    }, false);
 
//Funcion para cargarMaterias al campo "select".
function cargarMaterias() {
    //Inicializamos el array.
    var array = ["Ingles 1", "Matematica 2","Programación con Objetos 2","Redes de Computadoras", "Sistemas Operativos","Programación Funcional","Construcción de Intefaces de Usuarios"
,"Programación con Objetos 2"," Redes de Computadoras","Sistemas Operativos"  ,"Algoritmos" , "Análisis Matemático", "Laboratorio de Sistemas Operativos y Redes" ,   
        "Lógica y Programación" , "Elementos de Ingeniería de Software",
          "Seguridad de la Información","Materia UNAHUR 1" ,"Ingles 2","Matematica 3","Programación Concurrente","Ingenieria de Requerimientos",
         "Desarrollo de Aplicaciones","Probabilidad y Estadistica","Gestión de Proyectos de Desarrollo de Software","Lenguajes Formales y Autómatas", "Programación con Objetos 3","Materia UNAHUR 2",
        "Practica Profesional Supervisada(PPS)","Teoría de la Computación","Arquitectura de Software 1","Sistemas Distribuidos y Tiempo Real","Tesina de Licenciatura",
        "Materia Optativa 1","Caracteristicas de Lenguajes de Programación","Arquitectura de Software 2","Arquitectura de Computadoras","Parseo y generación de código",
        "Ejercicio Profesional","Tecnología y Sociedad"];
    //Ordena el array alfabeticamente.
    array.sort();
    //Pasamos a la funcion addOptions(el ID del select, las cargarMaterias en el array).
    addOptions("cursandoActualmente", array);
}
 
//Funcion para agregar opciones a un <select>.
function addOptions(domElement, array) {
    var selector = document.getElementsByName(domElement)[0];
    //Recorremos el array.
    for (cursandoActualmente in array) {
        var opcion = document.createElement("option");
        opcion.text = array[cursandoActualmente];
        selector.add(opcion);
    }
}
  
</script>

<script>
  miformulario1 = document.querySelector('#miFormulario1');
window.addEventListener("load", function() {
  cargarMaterias1(event);
    }, false);
 
//Funcion para cargarMaterias al campo "select".
function cargarMaterias1() {
    //Inicializamos el array.
    var array = ["Ingles 1", "Matematica 2","Programación con Objetos 2","Redes de Computadoras", "Sistemas Operativos","Programación Funcional","Construcción de Intefaces de Usuarios"
,"Programación con Objetos 2"," Redes de Computadoras","Sistemas Operativos"  ,"Algoritmos" , "Análisis Matemático", "Laboratorio de Sistemas Operativos y Redes" ,   
        "Lógica y Programación" , "Elementos de Ingeniería de Software",
          "Seguridad de la Información","Materia UNAHUR 1" ,"Ingles 2","Matematica 3","Programación Concurrente","Ingenieria de Requerimientos",
         "Desarrollo de Aplicaciones","Probabilidad y Estadistica","Gestión de Proyectos de Desarrollo de Software","Lenguajes Formales y Autómatas", "Programación con Objetos 3","Materia UNAHUR 2",
        "Practica Profesional Supervisada(PPS)","Teoría de la Computación","Arquitectura de Software 1","Sistemas Distribuidos y Tiempo Real","Tesina de Licenciatura",
        "Materia Optativa 1","Caracteristicas de Lenguajes de Programación","Arquitectura de Software 2","Arquitectura de Computadoras","Parseo y generación de código",
        "Ejercicio Profesional","Tecnología y Sociedad"];
    //Ordena el array alfabeticamente.
    array.sort();
    //Pasamos a la funcion addOptions(el ID del select, las cargarMaterias en el array).
    addOptions("preparandoFinales", array);
}
 
//Funcion para agregar opciones a un <select>.
function addOptions(domElement, array) {
    var selector = document.getElementsByName(domElement)[0];
    //Recorremos el array.
    for (preparandoFinales in array) {
        var opcion = document.createElement("option");
        opcion.text = array[preparandoFinales];
        selector.add(opcion);
    }
}
  
</script>